# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.DS_Store

# big EBD files
/data/ebd_CMA*
/data/ebd_in_poly*
/data/cdb_CMA_*
/data/CMA.*

#large census files
raw/*

#large outputs
/output/cdb_pccf_bird.RDS
/output/cdb_pccf.RDS
R/.RDataTmp

/data/LDU_fixed.*
/data/postal_CMA_*
/data/CMA_typeB.*
/data/CMA_postalcodeboundaries_LDU.*
